.select-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.picolade{
  background: hsl(345deg 100% 47%);
}

.picolade-btn{
  background: hsl(340deg 100% 32%);
}

.soon{
  background: hsl(0, 0%, 57%);
}

.soon-btn{
  background: hsl(0, 0%, 39%);
}

.pushable {
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}