.select-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.picolade{
  background: hsl(345deg 100% 47%);
}

.picolade-btn{
  background: hsl(340deg 100% 32%);
}

.soon{
  background: hsl(0, 0%, 57%);
}

.soon-btn{
  background: hsl(0, 0%, 39%);
}