.SelectionCategories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  
  .categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .category-button {
    background-color: #ccc;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .category-button.selected {
    background-color: 0;
    background-color: green;

  }  
  
  .category-button:hover {
    background-color: #45a049;
  }
  
  .finish-categories-button {
    background-color: #af4c4c;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .finish-categories-button:hover {
    background-color: #45a049;
  }  