.FormulaireParticipants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.input-participant {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.ajouter{
  background: hsl(345deg 100% 47%);
  padding: 12px 22px;
}

.ajouter-btn, .ajouter-btn:hover{
  background: hsl(340deg 100% 32%);
  margin-left: 20px;
}

.terminer{
  background: hsl(114, 100%, 37%);
}

.terminer-btn, .terminer-btn:hover{
  background: hsl(132, 100%, 29%);
}
.input-3d{
  z-index: -1;
  position: relative;
  background: hsl(0deg 0% 44.46%);
  top: -10px;
}

.input-div{
  display: flex;
  flex-direction: column;
}